* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

.debug {
  min-height: 60px;
  border: 2px red solid;
}

body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}
/* HEADER */
header h1 {
  text-align: right;
  padding: 6px;
  font-size: 18px;
  color: white;
  font-weight: 700;
  letter-spacing: 2px;
  background-color: black;
}

header {
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 1;
}

/* MAIN */

/* RETURNAL BANNER */
#returnal-section {
  color: white;
  min-height: 550px;
  background-image: url("../img/jumbo-bg.png");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

#test {
  min-height: 100px;
}

.returnal-hero-img {
  max-width: 300px;
}

#returnal-section .container {
  min-height: 550px;
  padding: 0 0 20px 20px;
  gap: 20px;
}

.btn {
  max-width: 150px;
  border-radius: 25px 25px;
  border: transparent;
}

.btn-primary-custom {
  background-color: #cd3d0f;
}

/* RETURNAL BANNER END */

/* CARD 6 */

#card-6 {
  margin: 20px 0;
}

.sotto-col {
  border-radius: 15px 15px;
  overflow: hidden;
}

.sotto-col:hover {
  outline: 1px solid blue;
  outline-style: inset;
}

.immagine-card-6 {
  border: 3px transparent solid;
  border-radius: 15px 15px;
}

/* END CARD 6 */

/* ECCO PLAY5 */

#ecco-play5 .top-play5 {
  text-align: center;
  padding-top: 40px;
}

.top-play5 > p:first-child {
  line-height: 10px;
  margin-bottom: 1px;
  color: #0775cf;
  font-size: 12px;
  font-weight: bold;
}

#ecco-play5 h2 {
  font-size: 32px;
}

.top-play5 > p:last-child {
  color: #7b7b7b;
  font-weight: bold;
  margin-top: 20px;
  word-spacing: 2px;
}

.btn-play5 {
  max-width: 200px;
  background-color: #2d64e6;
  padding: 5px 12px;
}

.console-play5 p {
  color: #7b7b7b;
  font-weight: bold;
  word-spacing: 2px;
  margin: 20px 0;
}

/* END ECCO PLAY5 */

/* SEZIONE 5 COL */

.ult-play5 {
  margin-bottom: 20px;
}

.ult-play5 div > img {
  width: 70%;
  opacity: 0.7;
  border: 2px transparent solid;
}

.ult-play5 div:nth-child(4) > img {
  opacity: 1;
  border-bottom: 2px #4b9bdc solid;
}

.ult-play5 div:hover > img {
  opacity: 1;
  border-bottom: 2px #4b9bdc solid;
}

/* END SEZIONE 5 COL */

/* IT TAKES 2 */
#ittakes-section {
  color: white;
  background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

/* END IT TAKES 2 */

/* NUOVE USCITE */

#nuove-uscite {
  background-color: #1f1f1f;
  color: white;
  padding-bottom: 20px;
}

#nuove-uscite h2 {
  padding: 20px 0 10px 0;
  font-size: 32px;
}

#nuove-uscite p {
  font-weight: bold;
  padding-bottom: 10px;
}

.class-tony sup {
  font-size: 8px;
}

.nuove-div img {
  border-radius: 20px 20px;
  overflow: hidden;
}

/* END NUOVE USCITE */

/* PS4 */

#ps4 h2 {
  padding-top: 40px;
  font-size: 32px;
  position: relative;
}

#ps4 {
  text-align: center;
}

#ps4 p {
  color: #7b7b7b;
  font-weight: bold;
  word-spacing: 2px;
  margin: 20px 0;
}

#ps4 span {
  padding: 1px;
  font-size: 8px;
  content: "";
  font-weight: bold;
  position: absolute;
  height: 14px;
  width: 14px;
  top: 60%;
  border: 2px black solid;
  border-radius: 50%;
}

#ps4 .row > * {
  text-align: left;
}

#ps4 .ps4-card > h2 {
  padding-top: 10px;
}

#ps4 .ps4-card > img {
  padding-top: 40px;
}

/* END PS4 */

/* ABE */

#abe {
  min-height: 245px;
  margin-top: 40px;
  background-color: #bebcbb;
}

.abe-hidden {
  display: none;
}

.ps-plus > img {
  width: 75%;
}

.ps-plus {
  padding: 20px 0;
}

.btn-abe {
  max-width: 220px;
  border: 2px transparent solid;
  background-color: #d9dadc;
  color: #3066e5;
  font-weight: bold;
}

.btn-abe:hover {
  border: 2px black solid;
}

/* END ABE */

/* SCONTI */

#sconti {
  padding-top: 40px;
  text-align: center;
}

#sconti .container {
  overflow: hidden;
}

#sconti h2 {
  font-size: 32px;
}

#sconti p {
  color: #7b7b7b;
  font-weight: bold;
  word-spacing: 2px;
  margin: 20px 0;
}

/* END SCONTI */

/* NOW */

#now {
  margin-top: 40px;
  background-color: #161c3b;
  color: white;
}

/* END NOW */

/* SOCIAL */

#social {
  padding-top: 40px;
  text-align: center;
  margin-bottom: 40px;
}

#social h2 {
  font-size: 32px;
  padding-bottom: 40px;
}

/* END SOCIAL */

/* FOOTER */

footer {
  background-color: #00439c;
  color: white;
  max-height: 100%;
}

.foot-logo img {
  max-width: 90px;
  padding-top: 30px;
}

.foot-logo p {
  max-width: 100%;
  font-size: 12px;
}

.footer-link a {
  color: white;
  text-decoration: none;
}

.footer-link li {
  list-style-type: none;
}

.end-foot img {
  max-width: 150px;
}

#foot .container {
  padding-bottom: 30px;
}

/* END FOOTER */

@media screen and (min-width: 768px) {
  .abe-hidden {
    display: block;
  }
  .social-test {
    display: flex;
    justify-content: center;
  }

  .social-col {
    max-width: 150px;
  }
}

@media screen and (min-width: 992px) {
  #abe {
    min-height: 333px;
  }

  .footer-link {
    padding-top: 30px;
  }
}
