* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

.debug {
  min-height: 60px;
  border: 2px red solid;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header h1 {
  text-align: right;
  padding: 6px;
  font-size: 18px;
  color: white;
  font-weight: 700;
  letter-spacing: 2px;
  background-color: black;
}

header {
  background-color: white;
  position: fixed;
  width: 100%;
}
