* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

.debug {
  min-height: 60px;
  border: 2px red solid;
}

body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}
/* HEADER */
header h1 {
  text-align: right;
  padding: 6px;
  font-size: 18px;
  color: white;
  font-weight: 700;
  letter-spacing: 2px;
  background-color: black;
}

header {
  background-color: white;
  position: fixed;
  width: 100%;
}

/* MAIN */

/* RETURNAL BANNER */
#returnal-section {
  color: white;
  min-height: 550px;
  background-image: url("../img/jumbo-bg.png");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

#test {
  min-height: 100px;
}

.returnal-hero-img {
  max-width: 300px;
}

#returnal-section .container {
  min-height: 550px;
  padding: 0 0 20px 20px;
  gap: 20px;
}

.btn {
  max-width: 150px;
  border-radius: 25px 25px;
  border: transparent;
}

.btn-primary {
  background-color: #cd3d0f;
}

/* RETURNAL BANNER END */

/* CARD 6 */

#card-6 {
  margin: 20px 0;
}

.sotto-col {
  border-radius: 15px 15px;
  overflow: hidden;
}

.sotto-col:hover {
  outline: 1px solid blue;
  outline-style: inset;
}

.immagine-card-6 {
  border: 3px transparent solid;
  border-radius: 15px 15px;
}

/* END CARD 6 */

/* ECCO PLAY5 */

#ecco-play5 .top-play5 {
  text-align: center;
  padding-top: 40px;
}

.top-play5 > p:first-child {
  line-height: 10px;
  margin-bottom: 1px;
  color: #0775cf;
  font-size: 12px;
  font-weight: bold;
}

#ecco-play5 h2 {
  font-size: 32px;
}

.top-play5 > p:last-child {
  color: #7b7b7b;
  font-weight: bold;
  margin-top: 20px;
  word-spacing: 2px;
}

.btn-play5 {
  max-width: 200px;
  background-color: #2d64e6;
  padding: 5px 12px;
}

.console-play5 p {
  color: #7b7b7b;
  font-weight: bold;
  word-spacing: 2px;
  margin: 20px 0;
}

/* END ECCO PLAY5 */

/* SEZIONE 5 COL */

.ult-play5 div > img {
  width: 70%;
  opacity: 0.7;
  border: 2px transparent solid;
}

.ult-play5 div:nth-child(4) > img {
  opacity: 1;
  border-bottom: 2px #4b9bdc solid;
}

.ult-play5 div:hover > img {
  opacity: 1;
  border-bottom: 2px #4b9bdc solid;
}

/* END SEZIONE 5 COL */
